<div class="flex flex-col gap-6 pr-20">
  <h1 class="font-bold text-5xl text-red-500">Aussie Calendar🚀</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo qui eius
    perferendis cum molestiae inventore non, delectus hic voluptates accusamus!
    Cupiditate
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo qui eius
    perferendis cum molestiae inventore non, delectus hic voluptates accusamus!
    Cupiditate aspernatur rerum reprehenderit eveniet aperiam quas maiores
    veritatis
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo qui eius
    perferendis cum molestiae inventore
  </p>
  <div class="flex gap-2 items-center">
    <div class="h-5 w-5 bg-red-500 rounded-sm"></div>
    <h1>Red Date Today</h1>
  </div>
  <div class="flex gap-2 items-center">
    <div class="h-5 w-5 bg-blue-500 rounded-sm"></div>
    <h1>Blue Official public holidays</h1>
  </div>
</div>
