---
import dayjs from "dayjs";
import { generateDate } from "../util/calendar.astro";
import { months } from "../util/calendar.astro";
const days = ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"];
const currentDate = dayjs();

const generateYearCalendar = (year) => {
  let calendars = [];
  for (let month = 0; month < 12; month++) {
    calendars.push({
      month: months[month],
      year,
      dates: generateDate(month, year),
    });
  }
  return calendars;
};

const yearCalendars = generateYearCalendar(currentDate.year());
---

{
  yearCalendars.map(({ month, year, dates }, index) => (
    <div class="w-72 h-72 mb-24">
      <div class="px-3 font-medium">
        <h1>
          {month}, {year}
        </h1>
      </div>
      <div class="w-full grid grid-cols-7">
        {days.map((day, index) => (
          <h1 class="h-14 grid place-content-center text-sm">{day}</h1>
        ))}
      </div>
      <div class="w-full grid grid-cols-7">
        {dates.map(({ date, currentMonth, today }, index) => (
          <div class="h-12 border-t grid place-content-center text-sm">
            <h1
              class={[
                currentMonth ? "" : "text-neutral-400",
                today ? "bg-red-500 text-white" : "",
                "h-9 w-9 grid place-content-center rounded-full hover:bg-black hover:text-white transition-all cursor-pointer",
              ].join(" ")}
            >
              {date.date()}
            </h1>
          </div>
        ))}
      </div>
    </div>
  ))
}
