<div
  class="w-full flex justify-center items-center h-16 shadow-sm fixed bg-white"
>
  <div class="w-[77rem] flex justify-between items-center">
    <div class="text-xl font-semibold">Aussie Calendar</div>
    <div>
      <ul class="flex gap-8 text-md font-medium">
        <li>Home</li>
        <li>About</li>
        <li>Service</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
</div>
