<div class="w-3/12 shadow-md p-6 rounded-lg bg-white">
  <h1 class="text-xl font-semibold mb-3">Yearly Calendar</h1>
  <ul class="flex flex-col gap-1 font-medium mb-5">
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      2024
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      2025
    </li>
  </ul>
  <h1 class="text-xl font-semibold mb-3">Monthly Calendar</h1>
  <ul class="flex flex-col gap-1 font-medium">
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      January
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      February
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      March
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      April
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      May
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      June
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      July
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      August
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      September
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      October
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      November
    </li>
    <li
      class="hover:shadow-sm hover:bg-neutral-50 rounded-lg p-3 cursor-pointer"
    >
      December
    </li>
  </ul>
</div>
